{% extends 'base.html' %}

{% block content %}
    <ul class="pagination">
    {% for ticker in tickers %}
        <li>
        <div class="alert alert-block">
            {{ ticker }}
            <span class="badge badge-info" style="font-size: 1em;">{{ tickers[ticker] }}</span>
        </div></li>
    {% endfor %}
    </ul>
    <div class="table-responsive col-md-12" style="float: left">
    <h2>Positions</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Side</th>
            <th scope="col">Pair</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
            <th scope="col">Fee</th>
            <th scope="col">PnL</th>
            <th scope="col"></th>
            <th scope="col"><a href="/hideall"><button type="button" class="btn btn-light">Hide all</button></a></th>
          </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td><span class="badge badge-success">{{ transaction['side'] }}</span></td>
                <td>{{ transaction['symbol'] }}</td>
                <td>{{ transaction['price'] }}</td>
                <td>{{ (transaction['amount'] * transaction['price']) | int }} {{ transaction['fee']['currency'] }}</td>
                <td><span class="badge badge-info">{{ transaction['fee']['cost'] }} {{ transaction['fee']['currency'] }}</span></td>
                    {% if transaction['current_price'] >  transaction['price'] %}
                        <td><span class="badge badge-success">{{ (transaction['amount'] * (transaction['current_price'] - transaction['price'])) | int }} {{ transaction['fee']['currency'] }}</span></td>
                    {% else %}
                        <td><span class="badge badge-danger">{{ (transaction['amount'] * (transaction['current_price'] - transaction['price'])) | int }} {{ transaction['fee']['currency'] }}</span></td>
                    {% endif %}
                    <td><a href="#"><button type="button" class="btn btn-danger">Sell</button></a></td>
                    <td><a href="/hide?id={{ transaction['id'] }}"><button type="button" class="btn btn-light">Hide</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
